In [1]:
# Importing Libraries
import pandas as pd
from datasets import load_dataset
import matplotlib.pyplot as plt

# Loading Data
dataset = load_dataset('lukebarousse/data_jobs')
df = dataset['train'].to_pandas()

# Data Cleanup
df['job_posted_date'] = pd.to_datetime(df['job_posted_date'])

c:\Users\johir\anaconda3\envs\python_first_practice\Lib\site-packages\tqdm\auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

In [2]:
df.head(6)

,job_title_short,job_title,job_location,job_via,job_schedule_type,job_work_from_home,search_location,job_posted_date,job_no_degree_mention,job_health_insurance,job_country,salary_rate,salary_year_avg,salary_hour_avg,company_name,job_skills,job_type_skills
0,Senior Data Engineer,Senior Clinical Data Engineer / Principal Clin...,"Watertown, CT",via Work Nearby,Full-time,False,"Texas, United States",2023-06-16 13:44:15,False,False,United States,None,NaN,NaN,Boehringer Ingelheim,None,None
1,Data Analyst,Data Analyst,"Guadalajara, Jalisco, Mexico",via BeBee México,Full-time,False,Mexico,2023-01-14 13:18:07,False,False,Mexico,None,NaN,NaN,Hewlett Packard Enterprise,"['r', 'python', 'sql', 'nosql', 'power bi', 't...","{'analyst_tools': ['power bi', 'tableau'], 'pr..."
2,Data Engineer,"Data Engineer/Scientist/Analyst, Mid or Senior...","Berlin, Germany",via LinkedIn,Full-time,False,Germany,2023-10-10 13:14:55,False,False,Germany,None,NaN,NaN,ALPHA Augmented Services,"['python', 'sql', 'c#', 'azure', 'airflow', 'd...","{'analyst_tools': ['dax'], 'cloud': ['azure'],..."
3,Data Engineer,LEAD ENGINEER - PRINCIPAL ANALYST - PRINCIPAL ...,"San Antonio, TX",via Diversity.com,Full-time,False,"Texas, United States",2023-07-04 13:01:41,True,False,United States,None,NaN,NaN,Southwest Research Institute,"['python', 'c++', 'java', 'matlab', 'aws', 'te...","{'cloud': ['aws'], 'libraries': ['tensorflow',..."
4,Data Engineer,Data Engineer- Sr Jobs,"Washington, DC",via Clearance Jobs,Full-time,False,Sudan,2023-08-07 14:29:36,False,False,Sudan,None,NaN,NaN,Kristina Daniel,"['bash', 'python', 'oracle', 'aws', 'ansible',...","{'cloud': ['oracle', 'aws'], 'other': ['ansibl..."
5,Data Engineer,GCP Data Engineer,Anywhere,via ZipRecruiter,Contractor and Temp work,True,Georgia,2023-11-07 14:01:59,False,False,United States,None,NaN,NaN,smart folks inc,"['python', 'sql', 'gcp']","{'cloud': ['gcp'], 'programming': ['python', '..."

In [9]:
df.sample(8, random_state=24)

,job_title_short,job_title,job_location,job_via,job_schedule_type,job_work_from_home,search_location,job_posted_date,job_no_degree_mention,job_health_insurance,job_country,salary_rate,salary_year_avg,salary_hour_avg,company_name,job_skills,job_type_skills
768710,Data Analyst,Data Analyst II,"Florissant, MO",via Trabajo.org,Full-time,False,"Illinois, United States",2023-01-29 01:02:11,False,True,United States,None,NaN,NaN,Commercial Solutions,"['sql', 'excel']","{'analyst_tools': ['excel'], 'programming': ['..."
50038,Software Engineer,Product Analyst,Singapore,via BeBee Singapore,Full-time,False,Singapore,2023-01-26 06:27:33,True,False,Singapore,None,NaN,NaN,Morgan Mckinley Pte. Ltd.,"['sql', 'python', 'r', 'tableau', 'power bi']","{'analyst_tools': ['tableau', 'power bi'], 'pr..."
245508,Business Analyst,Salesforce Analyst Junior,"Lisbon, Portugal",via BeBee Portugal,Full-time,False,Portugal,2023-07-24 07:17:29,False,False,Portugal,None,NaN,NaN,Olisipo,"['solidity', 'sap', 'jira']","{'analyst_tools': ['sap'], 'async': ['jira'], ..."
547437,Data Analyst,Data Analyst H/F,"Paris, France",via BeBee,Full-time,False,France,2023-11-14 19:37:32,True,False,France,None,NaN,NaN,Crédit Agricole Assurances,"['sas', 'sas', 'qlik', 'power bi', 'tableau']","{'analyst_tools': ['sas', 'qlik', 'power bi', ..."
65380,Data Analyst,Data Analyst Manager,Dubai - United Arab Emirates,via BeBee,Full-time,False,United Arab Emirates,2023-10-03 06:40:55,False,False,United Arab Emirates,None,NaN,NaN,Binance,"['r', 'sas', 'sas', 'sql', 'nosql', 'vba', 'c+...","{'analyst_tools': ['sas', 'tableau'], 'databas..."
671553,Machine Learning Engineer,Associate Machine Learning Engineer,"Field SA, Australia",via DHI Group - Talentify,Full-time,False,Australia,2023-06-14 10:23:26,False,False,Australia,None,NaN,NaN,DHI Group,"['python', 'sql', 'azure', 'jupyter', 'scikit-...","{'cloud': ['azure'], 'libraries': ['jupyter', ..."
307181,Data Analyst,Data Analyst,"Manchester, UK",via LinkedIn,Full-time,False,United Kingdom,2023-05-15 17:53:18,False,False,United Kingdom,None,NaN,NaN,Agile Recruit,"['sql', 'power bi', 'excel']","{'analyst_tools': ['power bi', 'excel'], 'prog..."
651363,Data Engineer,"Data Engineer III, Technology","Lewisville, TX",via ZipRecruiter,Full-time,False,"Florida, United States",2023-02-06 10:13:18,False,True,United States,None,NaN,NaN,Sam's Club,"['sql', 'python', 'scala', 'gcp', 'databricks'...","{'analyst_tools': ['looker'], 'cloud': ['gcp',..."

In [ ]:
df_altered = df_original.copy() # When is need to manipulate, cleaning and modify the datasets, its need to copy the data sets to safe the raw data sets